<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex">
        <div class="search-box">
          <button class="btn-search"><i class="bi bi-search"></i></button>
          <input type="search" class="input-search" placeholder="Type to Search..." [formControl]="searchControl" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0">Order List</h4>
          </div>
          <div class="card-body">
            <div class="table-container position-relative">
              <table class="table table-striped table-hover">
                <thead class="" matSort (matSortChange)="handleSortItem($event)" matSortActive="{{ sort.active }}"
                  matSortDirection="{{ sort.direction }}" matSortDisableClear>
                  <tr>
                    <th></th>
                    <th>#</th>
                    <th mat-sort-header="name">Customer Name</th>
                    <th>Address</th>
                    <th>
                      Phonenumber
                    </th>
                    <th>Coupon</th>
                    <th mat-sort-header="payment">Payment</th>
                    <th mat-sort-header="payment">Amount</th>
                    <th mat-sort-header="status">Status</th>
                    <th mat-sort-header="create_date">Created Date</th>
                    <th mat-sort-header="update_date">Updated Date</th>
                    <th>Note</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of orderList; index as i">
                    <tr (click)="toggleExpansion(item.id)">
                      <td><i class="bi bi-chevron-right expand-icon" [ngClass]="{'active': item.isExpand}"></i></td>
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.address }}</td>
                      <td>{{ item.phone_number }}</td>
                      <td>-{{ (+item.coupon ? (item.coupon | currencyFormat) : item.coupon) || '---' }}</td>
                      <td>{{ item.payment }}</td>
                      <td>{{ item.amount | currencyFormat }}</td>
                      <td><mat-chip class="chips"
                          [ngStyle]="{'background': Constant.STATUS_COLOR_LIST[item.status_name?.toUpperCase()]}">{{
                          item.status_name }}</mat-chip></td>
                      <td>{{ (item.create_date | dateFormat) || '---'}}</td>
                      <td>{{ (item.update_date | dateFormat) || '---'}}</td>
                      <td>{{ item.note }} abcaaaaaaa</td>
                      <td>
                        <div class="d-flex" style=" min-height: 40px;">
                          <button class="btn btn-delete" (click)="deleteProduct($event, item.id)"
                            *ngIf="item.status === 4">
                            <i class="bi bi-trash-fill"></i>
                          </button>
                          <button class="btn btn-onway" (click)="handleAction('onway', item.id, $event)"
                            *ngIf="item.status === 5">
                            <i class="bi bi-truck"></i>
                          </button>
                          <button class="btn btn-done" (click)="handleAction('done', item.id, $event)"
                            *ngIf="item.status === 2">
                            <i class="bi bi-house-check"></i>
                          </button>
                          <button class="btn btn-done" (click)="handleAction('confirm', item.id, $event)"
                            *ngIf="item.status === 1">
                            <i class="bi bi-check-circle"></i>
                          </button>
                          <button class="btn btn-cancel" (click)="handleAction('cancel', item.id, $event)"
                            *ngIf="item.status !== 3 && item.status !== 4">
                            <i class="bi bi-bag-x"></i>
                          </button>
                          <button class="btn btn-cancel"
                            (click)="handleAction('invoice', item.id, $event, item.invoice)"
                            *ngIf="item.status !== 1 && item.status !== 4">
                            <i class="bi bi-receipt"></i>
                          </button>
                        </div>
                      </td>
                    <tr>
                      <td colspan="12" [ngStyle]="{'padding': !item.isExpand ? '0' : ''}">
                        <mat-expansion-panel [(ngModel)]="item.isExpand" [expanded]="item.isExpand" ngDefaultControl>
                          <div class="row product-container ">
                            <div class="product-header col-1">
                            </div>
                            <div class="product-header col">Name</div>
                            <div class="product-header col-2">Discount</div>
                            <div class="product-header col-2">Price</div>
                            <div class="product-header col-2">Quantity</div>
                          </div>
                          <ng-container *ngFor="let product of item.product">
                            <div class="row product-container">
                              <div class="product-item col-1">
                                <img [src]="product.image" [alt]="product.name" class="product-image" />
                              </div>
                              <div class="product-item col">{{ product.name }}</div>
                              <div class="product-item col-2">{{ product.discount || '---'}}</div>
                              <div class="product-item col-2">{{ product.price | currencyFormat }}</div>
                              <div class="product-item col-2">x{{ product.quantity }}</div>
                            </div>
                          </ng-container>
                          <div class="row product-container ">
                            <div class="product-total col">
                              Total: <span>{{getTotalValue(item.id) | currencyFormat}}</span>
                            </div>
                          </div>
                        </mat-expansion-panel>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
          <mat-paginator class="paginator" [length]="paginator.length" [pageSize]="paginator.limit"
            [pageIndex]="paginator.page" [pageSizeOptions]="[10, 20, 50, 100]" (page)="changePage($event)"
            [showFirstLastButtons]="true"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
