<div class="main-content category">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title" style="text-transform: capitalize">
              {{ type }} Category
            </h4>
            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="saveCategory()"
              *ngIf="type !== 'detail'">
              Save
            </button>
          </div>
          <div class="card-body">
            <form [formGroup]="createCategoryForm" *ngIf="createCategoryForm">
              <div class="row">
                <mat-form-field class="col-md-6 col-sm-12">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Name" formControlName="name" type="text" />
                  <mat-error *ngIf="createCategoryForm.get('name').hasError('required')">required</mat-error>
                </mat-form-field>
                <div class="col-md-6"></div>
                <mat-form-field class="col-md-6 col-sm-12">
                  <mat-label>Type</mat-label>
                  <mat-select formControlName="type" class="text-capitalize" multiple>
                    <mat-option class="text-capitalize" *ngFor="let sort of typeList; index as i"
                      [value]="sort.id || sort.name">
                      <ng-container *ngIf="sort.id || sort.id === 0;else inputTypeOption">
                        {{ sort.name }}
                      </ng-container>
                      <ng-template #inputTypeOption>
                        <mat-form-field class="full-width">
                          <input matInput [(ngModel)]="sort.name" [ngModelOptions]="{standalone: true}"
                            placeholder="Input Type" type="text" (click)="onInputClick($event)" />
                          <button matSuffix mat-icon-button (click)="saveType('type', i)">
                            <mat-icon><i class="bi bi-floppy"></i></mat-icon>
                          </button> </mat-form-field>
                      </ng-template>
                    </mat-option>
                    <mat-option (click)="addOption($event, 'type')"><i class="bi bi-plus-lg"></i></mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-6 col-sm-12">
                  <mat-label>Feature</mat-label>
                  <mat-select formControlName="feature" class="text-capitalize" multiple>
                    <mat-option class="text-capitalize" *ngFor="let sort of featureList; index as i"
                      [value]="sort.id || sort.name">
                      <ng-container *ngIf="sort.id || sort.id === 0;else inputFeatureOption">
                        {{ sort.name }}
                      </ng-container>
                      <ng-template #inputFeatureOption>
                        <mat-form-field class="full-width">
                          <input matInput [(ngModel)]="sort.name" [ngModelOptions]="{standalone: true}"
                            placeholder="Input Feature" type="text" (click)="onInputClick($event)" />
                          <button matSuffix mat-icon-button (click)="saveType('feature', i)">
                            <mat-icon><i class="bi bi-floppy"></i></mat-icon>
                          </button>
                        </mat-form-field>
                      </ng-template>
                    </mat-option>
                    <mat-option (click)="addOption($event, 'feature')"><i class="bi bi-plus-lg"></i></mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-tab-group mat-align-tabs="start" mat-stretch-tabs="false" animationDuration="500ms" #tabGroup>
                  <mat-tab label="SPECIFICATION">
                    <div class="my-4">
                      <ckeditor id="ckeditor" formControlName="specification" [editor]="Editor"
                        (ready)="onReady($event)" debounce="5000"></ckeditor>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
