<div class="order" *ngIf="cartList">
  <div class="container">
    <div class="row user-info-content-row">
      <div class="col-8" [formGroup]="orderForm" *ngIf="orderForm">
        <div class="order-item cart">
          <div class="row">
            <h2 class="col-8 order-item-header cart-header">
              Giỏ hàng<span class="cart-header-count">({{ cartList?.length || 0 }} sản phẩm)</span>
            </h2>
            <span class="cart-header-label col-2">giá tiền</span>
            <span class="cart-header-label col-2">số lượng</span>
          </div>
          <div class="cart-item">
            <div class="row my-4" *ngFor="let item of cartList">
              <div class="col-1 d-flex justify-content-center align-items-center">
                <button class="cart-item-btn" (click)="remove(item.id)">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
              <div class="col-2 d-flex align-items-center">
                <img [src]="item.image" [alt]="item.name" class="cart-item-img" />
              </div>
              <div class="col d-flex align-items-center">
                <span class="cart-item-name">{{ item.name }}</span>
              </div>
              <div class="col-2 d-flex flex-column justify-content-evenly">
                <span class="cart-item-price">{{
                  (item.discount
                  ? getDiscountPrice(item.price, item.discount)
                  : item.price
                  ) | currencyFormat
                  }}</span>
                <span class="cart-item-old-price" *ngIf="item.discount">{{
                  item.discount ? (item.price | currencyFormat) : ''
                  }}</span>
                <span class="cart-item-discount" *ngIf="item.discount">-{{ item.discount }}%</span>
              </div>
              <div class="col-2 d-flex align-items-center">
                <mat-form-field class="cart-item-quantity">
                  <input matInput type="number" class="cart-item-quantity" min="0" [max]="item.remainQuantity"
                    (ngModelChange)="updateQuantity($event, item.id,item.remainQuantity)" [(ngModel)]="item.quantity"
                    [ngModelOptions]="{ standalone: true }" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="order-item user-info">
          <h2 class="order-item-header">Thông tin giao hàng</h2>
          <div class="order-item-list user-info-content">
            <div class="row user-info-content-row align-items-center">
              <div class="col-3 mb-3">
                <span class="user-info-content-label">
                  Tên<span class="ms-1 required">*</span>
                </span>
              </div>
              <mat-form-field class="col">
                <input matInput formControlName="name" />
                <mat-error *ngIf="orderForm.get('name').hasError('required')">required</mat-error>
              </mat-form-field>
            </div>
            <div class="row user-info-content-row align-items-center">
              <div class="col-3 mb-3">
                <span class="user-info-content-label">
                  Địa chỉ<span class="ms-1 required">*</span>
                </span>
              </div>
              <mat-form-field class="col">
                <input matInput formControlName="address" />
                <mat-error *ngIf="orderForm.get('address').hasError('required')">required</mat-error>
              </mat-form-field>
            </div>
            <div class="row user-info-content-row align-items-center">
              <div class="col-3 mb-3">
                <span class="user-info-content-label">
                  Email<span class="ms-1 required">*</span>
                </span>
              </div>
              <mat-form-field class="col">
                <input matInput formControlName="email" />
                <mat-error *ngIf="orderForm.get('email').hasError('required')">required</mat-error>
                <mat-error *ngIf="orderForm.get('email').hasError('email')">Wrong format. Email must be exp:
                  abc@abc.com</mat-error>
              </mat-form-field>
            </div>
            <div class="row user-info-content-row align-items-center">
              <div class="col-3 mb-3">
                <span class="user-info-content-label">
                  Số điện thoại <span class="ms-1 required">*</span>
                </span>
              </div>
              <mat-form-field class="col">
                <input matInput formControlName="phone" />
                <mat-error *ngIf="orderForm.get('phone').hasError('required')">required</mat-error>
                <mat-error *ngIf="orderForm.get('phone').hasError('pattern')">Wrong format</mat-error>
              </mat-form-field>
            </div>
            <div class="row user-info-content-row align-items-center">
              <div class="col-3 mb-3">
                <span class="user-info-content-label">Ghi chú</span>
              </div>
              <mat-form-field class="col">
                <textarea matInput formControlName="note"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="order-item payment">
          <h2 class="order-item-header">phương thức thanh toán</h2>
          <div class="order-item-list payment-content">
            <mat-radio-group formControlName="payment">
              <div class="row align-items-center" *ngFor="let item of payments">
                <mat-radio-button class="example-margin" value="{{ item.id }}">
                  {{ item.name }}
                </mat-radio-button>

              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="order-card">
          <div class="order-card-item d-flex justify-content-between">
            <p>Tạm tính:</p>
            <p>{{ totalPrice | currencyFormat }}</p>
          </div>
          <div class="order-card-item d-flex justify-content-between">
            <p>Vận chuyển:</p>
            <p>Miễn phí</p>
          </div>
          <div class="order-card-total d-flex justify-content-between">
            <p>Thành tiền:</p>
            <p class="price">{{ totalPrice | currencyFormat }}</p>
          </div>
        </div>
        <div class="order-card order-card-coupon">
          <span class="order-card-coupon-header">
            Mã giảm giá / Quà tặng<i class="bi bi-gift ms-2"></i>
          </span>
          <div class="order-card-coupon-input">
            <mat-form-field class="input-field">
              <input matInput placeholder="Nhập ở đây" />
            </mat-form-field>
            <button class="btn btn-apply btn--animation-hover-out">
              Áp dụng
            </button>
          </div>
        </div>
        <button class="btn btn-buy btn--animation-hover-out" (click)="checkOut()">
          Thanh toán ngay
        </button>
        <button class="btn btn-return btn--animation-hover-in">
          Quay lại cửa hàng
        </button>
      </div>
    </div>
  </div>
</div>
<div class="my-5 col d-flex flex-column align-items-center" *ngIf="!cartList">
  <img src="./assets/images/no-order.png" alt="" class="no-order-img mb-2" />
  <h2>Nothing in your cart. Add more!</h2>
</div>
