<div
  id="carouselHomeBannerIndicators"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <ng-container *ngFor="let item of banner; first as isFirst; index as i">
      <div class="carousel-item" [ngClass]="isFirst ? 'active' : ''">
        <img [src]="item" class="d-block w-100" alt="..." />
      </div>
    </ng-container>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselHomeBannerIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselHomeBannerIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mb-5">
  <banner-ads [listAds]="topBannerAds"></banner-ads>
  <item-list [section]="newProduct"></item-list>
  <item-list [section]="featureProduct"></item-list>
  <item-list [section]="analogProduct"></item-list>
  <banner-ads [listAds]="bannerAds"></banner-ads>
  <item-list [section]="new"></item-list>
</div>
