.pagination {
  .page-link {
    border: none !important;
    color: #000;
    min-width: 80px;
  }

  .page-item.active {
    .page-link {
      background-color: black;
      color: white;
    }
  }
  .page-link:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
