<!-- <header></header> -->
<div class="body">
  <div class="navbar navbar-expand-lg bg-black position-sticky">
    <div class="container position-relative">
      <a class="navbar-brand text-white" [routerLink]="routerURL.HOME"
        ><img src="assets/images/logo/a-logo-3K.svg" alt="logo 3K"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngFor="let item of headerList">
            <a class="nav-link" [routerLink]="item.link">{{ item.title }}</a>
            <sub-menu
              *ngIf="item.submenu"
              [subMenu]="item.submenu"
              class="d-none"
            ></sub-menu>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <search></search>
          <user></user>
          <cart></cart>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container">
    <div class="footer__container row">
      <div class="footer__logo col">
        <img src="assets/images/logo/a-logo-3K.svg" alt="logo 3K" />
      </div>
      <div class="footer__content col-9 row">
        <ng-container *ngFor="let item of footerList">
          <ul class="col footer" *ngIf="item.column !== 3">
            <h4 class="footer__title title">{{ item.title }}</h4>
            <li *ngFor="let item2 of item.data">
              <a [routerLink]="item2.link">{{ item2.title }}</a>
            </li>
          </ul>

          <ul class="col footer__address" *ngIf="item.column === 3">
            <h4 class="footer__title title">{{ item.title }}</h4>
            <li *ngFor="let item2 of item.data">
              <a href="">{{ item2.address }}</a>
              <p class="footer__text">{{ item2.contact }}</p>
            </li>
          </ul>
        </ng-container>
      </div>
    </div>
    <div class="footer__license row">
      <a href="" class="footer__about-img"
        ><img
          max-
          src="./assets/images/logo/dathongbao.png"
          alt=""
          class="footer__about-img mw"
      /></a>
    </div>
  </div>
</footer>
<!-- footer -->
