<div class="container mt-5">
  <div class="row top-content">
    <div class="col-6">
      <div class="row">
        <div class="col-2">
          <div class="list-image">
            <ng-container *ngFor="let item of listImage">
              <button class="image" [ngClass]="item.active ? 'active' : ''" (click)="updateImage(item.id)">
                <img [src]="item.src" [alt]="item.name" />
              </button>
            </ng-container>
          </div>
        </div>
        <div class="col-10 ">
          <img [src]="selectedImage" alt="" class="big-img" />
        </div>
      </div>
    </div>
    <div class="col-6 content-detail" *ngIf="productDetail">
      <div class="row mb-3">
        <span class="name bold-text">{{ productDetail.name }}</span>
      </div>
      <div class="row mb-3">
        <span class="brand">
          Thương hiệu<a href="" class="ms-1 brand-name">{{
            productDetail.brand_name
            }}</a>
        </span>
      </div>
      <div class="row mb-3">
        <span class="cost bold-text">{{
          productDetail.price | currencyFormat
          }}</span>
      </div>
      <div class="row mb-3">
        <span class="guarente"><i class="bi bi-shield me-2"></i>Bảo hành 12 tháng</span>
      </div>
      <div class="row mb-3">
        <div class="col-12 d-flex">
          <button class="btn btn-buy" (click)="addToCart(productDetail.id)">
            <span class="cart-icon"><i class="bi bi-cart-fill"></i></span>Mua
            hàng
          </button>
          <button class="btn btn-like">
            <i class="bi bi-heart" #heartIcon></i>
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="row detail-product">
    <div class="col-10">
      <div class="col-12" [ngStyle]="{
          'max-height': showMore ? '' : '100vh',
          overflow: showMore ? 'unset' : 'hidden'
        }" id="{{ detail[0].id }}" #description *ngIf="detail[0].content">
        <h4 class="sub-title">{{ detail[0].name }}</h4>
        <div [innerHTML]="safeHTML(detail[0].content || '')"></div>
      </div>
      <div class="col-12" *ngIf="detail[0].content">
        <button class="btn btn-showmore btn--animation-hover-in" (click)="showmore()"
          [ngClass]="hideShowMoreBtn(description) ? 'd-none' : ''">
          Xem thêm
        </button>
      </div>
      <div class="col-12 mt-5" id="{{ detail[1].id }}" #specifications *ngIf="detail[1].content">
        <h4 class="sub-title">{{ detail[1].name }}</h4>
        <div id="ckeditor" [innerHTML]="safeHTML(detail[1].content || '')"></div>
      </div>
    </div>
    <div class="col-2" *ngIf="detail[0].content || detail[1].content">
      <div class="menu">
        <ul>
          <li [ngClass]="{ active: detail[0].active }">
            <button class="btn" (click)="scrollTo(description, detail[0].id)" *ngIf="detail[0].content">
              {{ detail[0].name }}
            </button>
          </li>
          <li [ngClass]="{ active: detail[1].active }">
            <button class="btn" (click)="scrollTo(specifications, detail[1].id)" *ngIf="detail[1].content">
              {{ detail[1].name }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
