<form [formGroup]="accountDetailForm" *ngIf="accountDetailForm">
  <div class="row">
    <div class="col-6">
      <mat-form-field class="mb-3 w-100" appearance="fill">
        <mat-label class="text-capitalize">Họ Tên</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="mb-3 w-100" appearance="fill">
        <mat-label class="text-capitalize">Địa chỉ</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>
      <mat-form-field class="mb-3 w-100" appearance="fill">
        <mat-label class="text-capitalize">Số điện thoại</mat-label>
        <input matInput formControlName="phone" />
        <mat-error *ngIf="accountDetailForm.get('phone').hasError('pattern')"
          >Wrong format</mat-error
        >
      </mat-form-field>
      <mat-form-field class="mb-3 w-100" appearance="fill">
        <mat-label class="text-capitalize">Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="accountDetailForm.get('email').hasError('email')"
          >Wrong format. Email must be exp: abc@abc.com</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="mb-3 w-100" appearance="fill">
        <mat-label class="text-capitalize"
          >Mật khẩu hiện tại (bỏ trống nếu không đổi)
        </mat-label>
        <input matInput formControlName="old_password" />
      </mat-form-field>
      <mat-form-field class="mb-3 w-100" appearance="fill">
        <mat-label class="text-capitalize"
          >Mật khẩu mới (bỏ trống nếu không đổi)
        </mat-label>
        <input matInput formControlName="confirm_password" />
      </mat-form-field>
      <mat-form-field class="mb-3 w-100" appearance="fill">
        <mat-label class="text-capitalize">Xác nhận mật khẩu mới </mat-label>
        <input matInput formControlName="new_password" />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <button
      type="button"
      class="col-4 btn-save btn--animation-hover-out"
      (click)="updateInfo()"
    >
      Lưu thay đổi
    </button>
  </div>
</form>
