<div class="container my-5" id="container" [ngClass]="{ 'right-panel-active': isConfirmOTP }">
  <div class="form-container sign-up-container">
    <form [formGroup]="resetPasswordForm">
      <h2 class="mb-5">Create New Password</h2>
      <mat-form-field class="mb-3 w-100" appearance="fill">
        <input matInput type="password" formControlName="new_password" placeholder="New Password" #newPassword />
        <button mat-icon-button class="btn" type="button" (click)="
            newPassword.type === 'password'
              ? (newPassword.type = 'text')
              : (newPassword.type = 'password')
          " matSuffix>
          <i class="bi bi-eye" *ngIf="newPassword.type === 'password'"></i>
          <i class="bi bi-eye-slash" *ngIf="newPassword.type === 'text'"></i>
        </button>
      </mat-form-field>
      <mat-form-field class="mb-3 w-100" appearance="fill">
        <input matInput type="password" formControlName="confirm_password" placeholder="Confirm Password"
          #confirmPassword />
        <button mat-icon-button class="btn" type="button" (click)="
            confirmPassword.type === 'password'
              ? (confirmPassword.type = 'text')
              : (confirmPassword.type = 'password')
          " matSuffix>
          <i class="bi bi-eye" *ngIf="confirmPassword.type === 'password'"></i>
          <i class="bi bi-eye-slash" *ngIf="confirmPassword.type === 'text'"></i>
        </button>
      </mat-form-field>
      <button class="btn-submit btn--animation-hover-in"
        [disabled]="!resetPasswordForm.valid || resetPasswordForm.pristine" (click)="resetPassword()">
        Lưu
      </button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form [formGroup]="otpSubmitForm">
      <h2 class="mb-5">Forgot Password?</h2>
      <mat-form-field class="mb-3 w-100" appearance="fill">
        <input matInput type="email" formControlName="email" placeholder="Email" />
        <button mat-icon-button class="btn" [disabled]="timer.emailCountDown" type="button" (click)="getOTP()" matSuffix
          *ngIf="emailField.valid">
          <i class="bi bi-send-fill"></i>
        </button>
        <mat-error *ngIf="otpSubmitForm.get('email').hasError('required')">required</mat-error>
        <mat-error *ngIf="otpSubmitForm.get('email').hasError('email')">Wrong email format</mat-error>
        <mat-hint *ngIf="timer.emailCountDown">Gửi lại OTP trong {{timer.emailCountDown}} giây</mat-hint>
      </mat-form-field>
      <mat-form-field class="mb-3 w-100" appearance="fill">
        <input matInput type="text" maxlength="6" formControlName="otp" placeholder="OTP" />
        <mat-hint *ngIf="timer.otpCountDown">OTP hết hạn trong {{timer.otpCountDown}} giây</mat-hint>
      </mat-form-field>
      <button class="btn-submit btn--animation-hover-in" [disabled]="!otpSubmitForm.valid || otpSubmitForm.pristine"
        (click)="verifyOTP()">
        Submit
      </button>
      {{!otpSubmitForm.valid || otpSubmitForm.pristine}}
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">

      </div>
      <div class="overlay-panel overlay-right">

      </div>
    </div>
  </div>
</div>
