<ng-container *ngIf="section">
  <div class="row" *ngIf="section.header">
    <div class="col">
      <div class="d-flex my-4 justify-content-between main-title">
        <p class="title pe-3">{{ section.header }}</p>
        <div class="title-btn py-1 ps-3">
          <button
            type="button"
            class="btn btn-all btn--animation-hover-in"
            (click)="clickAllBtn(section.header)"
          >
            Xem tất cả
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="section.type === TYPE_LIST.PRODUCT">
    <div class="row">
      <ng-container *ngFor="let item of section.data; first as isFirst">
        <div
          class="col-lg-6 mb-4"
          *ngIf="section.isFirst && isFirst; else smallCard"
        >
          <div class="card card-main text-bg-dark">
            <div class="card-discount" *ngIf="item.discount">
              {{ '-' + item.discount + '%' }}
            </div>
            <div
              [ngStyle]="{ 'background-image': 'url(' + item.img + ')' }"
              class="card-img"
              alt="..."
            >
              <div class="overlay">
                <div class="overlay-action">
                  <button
                    type="button"
                    class="btn btn-light overlay-button me-2"
                    (click)="favoriteAction(heartIcon)"
                  >
                    <i class="bi bi-heart-fill" #heartIcon></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-light overlay-button"
                    (click)="addToCart(item.name)"
                  >
                    <i class="bi bi-cart-fill"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-overlay">
              <div class="card-content">
                <h5 class="card-title">{{ item.name }}</h5>
                <div class="card-currency">
                  <p class="card-price">
                    {{
                      (item.discount
                        ? getDiscountPrice(item.cost, item.discount)
                        : item.cost
                      ) | currencyFormat
                    }}<span class="ms-1">₫</span>
                  </p>
                  <p class="card-old-price">
                    {{ (item.discount ? item.cost : '') | currencyFormat
                    }}<span *ngIf="item.discount" class="ms-1">₫</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #smallCard>
          <ng-container
            [ngTemplateOutlet]="card"
            [ngTemplateOutletContext]="{ item: item, column: 6 }"
          ></ng-container>
        </ng-template>
      </ng-container>
      <div class="col-2 mb-4">
        <a class="btn-see-more" href="https://3kshop.vn/san-pham/">
          <p>Xem tất cả sản phẩm</p>
          <div class="btn-see-more-icon"><i class="bi bi-arrow-right"></i></div>
        </a>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="section.type === TYPE_LIST.PRODUCT_ONLY">
    <div class="row">
      <ng-container *ngFor="let item of section.data">
        <ng-container
          [ngTemplateOutlet]="card"
          [ngTemplateOutletContext]="{ item: item, column: column }"
        ></ng-container>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="section.type === TYPE_LIST.PRODUCT_SLIDE">
    <div class="row">
      <div class="col-12 position-relative">
        <div class="d-flex flex-nowrap overflow-hidden mx-5" #slideList>
          <ng-container *ngFor="let item of section.data">
            <ng-container
              [ngTemplateOutlet]="card"
              [ngTemplateOutletContext]="{ item: item, column: 6, row: true }"
            ></ng-container>
          </ng-container>
        </div>
        <button class="btn slick slick-prev" (click)="scroll(slideList, -1)">
          <i class="bi bi-chevron-left"></i>
        </button>
        <button class="btn slick slick-next" (click)="scroll(slideList, 1)">
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="section.type === TYPE_LIST.NEW">
    <div class="row">
      <ng-container *ngFor="let item of section.data">
        <div class="col-6">
          <div class="card new mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  [src]="item.img"
                  class="img-fluid new-img rounded-start"
                  alt="item.title"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="new-title">
                    {{ item.title }}
                  </h5>
                  <p class="new-text mb-3">
                    {{ item.description }}
                  </p>
                  <button type="button" class="btn btn-all btn-outline-dark">
                    Xem thêm
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-container
    *ngIf="section.type === TYPE_LIST.VIDEO_NEW && section.mostViewProduct"
  >
    <div class="row mb-4">
      <div class="col-6">
        <iframe
          width="105%"
          height="370px"
          [src]="videoSrc"
          title="[UNBOXING] iFi Zen CAN Studio - Amplifier dành cho tai nghe phòng thu | 3Kshop.vn"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="col-6">
        <div class="playlist">
          <ng-container *ngFor="let item of section.data; index as i">
            <button class="playlist-item" (click)="playSelectedVideo(item.id)">
              <div class="playlist-img">
                <img
                  [src]="'https://i.ytimg.com/vi/' + item.id + '/mqdefault.jpg'"
                  alt=""
                />
              </div>
              <div class="d-flex flex-column align-items-start ms-3">
                <span class="title">{{ item.title }}</span>
                <span>{{ item.author }}</span>
                <span>{{ item.view }} lượt xem</span>
              </div>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="popular">
          <div class="row">
            <div class="col-12">
              <h3 class="popular-header m-0">
                {{ section.mostViewProduct.header }}
              </h3>
            </div>
          </div>
          <div class="rank">
            <div class="row">
              <ng-container
                *ngFor="let item of section.mostViewProduct.data; index as i"
              >
                <div class="col-6">
                  <button class="rank-item">
                    <div class="d-flex">
                      <div class="rank-item-img">
                        <img [src]="item.img" alt="" />
                        <div class="overlay">#{{ i + 1 }}</div>
                      </div>
                      <div
                        class="d-flex flex-grow-1 flex-column justify-content-between align-items-start ms-3"
                      >
                        <span class="title text-truncate">{{ item.name }}</span>
                        <div
                          class="progress"
                          role="progressbar"
                          aria-label="Basic example"
                          aria-valuenow="0"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        >
                          <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span>{{ item.view }} LƯỢT XEM</span>
                      </div>
                    </div>
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #card let-item="item" let-column="column" let-row="row">
  <div
    class="mb-4 {{ row ? 'me-5' : '' }}"
    [ngClass]="column ? 'col-' + (12 / column).toString() : ''"
  >
    <button (click)="redirectToDetail(item.id)" class="product-item">
      <div class="card card-normal">
        <div class="card-discount" *ngIf="item.discount">
          {{ '-' + item.discount + '%' }}
        </div>
        <div class="card-img">
          <img [src]="item.img" class="card-img-top" alt="..." />
          <div class="overlay">
            <div class="overlay-action">
              <button
                type="button"
                class="btn btn-light overlay-button me-2"
                (click)="favoriteAction(heartIcon)"
              >
                <i class="bi bi-heart" #heartIcon></i>
              </button>
              <button
                type="button"
                class="btn btn-light overlay-button"
                (click)="addToCart(item.name)"
              >
                <i class="bi bi-cart-fill"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-subtitle mb-2 text-body-secondary">
            {{ item.name }}
          </p>
          <p class="card-price">
            {{
              (item.discount
                ? getDiscountPrice(item.cost, item.discount)
                : item.cost
              ) | currencyFormat
            }}<span class="ms-1">₫</span>
          </p>
          <p class="card-old-price">
            {{ (item.discount ? item.cost : '') | currencyFormat
            }}<span *ngIf="item.discount" class="ms-1">₫</span>
          </p>
        </div>
      </div>
    </button>
  </div>
</ng-template>
