<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Create Product</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="createProductForm" *ngIf="createProductForm">
              <div class="row mb-4 d-flex align-items-center">
                <h3 class="fw-bold">Upload Images</h3>
                <div class="col-2">
                  <div class="upload-image">
                    <div class="upload-container">
                      <div class="border-container">
                        <div class="icons fa-4x">
                          <i
                            class="bi"
                            [ngClass]="
                              fileAction === 'dragenter'
                                ? 'bi-cloud-upload-fill icon__animation'
                                : 'bi-image'
                            "
                          ></i>
                        </div>
                        <input
                          type="file"
                          id="file-upload"
                          class="upload-input"
                          accept="image/*"
                          (change)="previewImage($event)"
                          (dragenter)="dragFiles($event)"
                          (dragleave)="dragFiles($event)"
                          multiple
                        />
                        <div class="animation_container">
                          <div
                            class="text_container"
                            [ngClass]="
                              fileAction === 'dragenter'
                                ? 'drop_animation'
                                : fileAction === ''
                                ? ''
                                : 'drag_animation'
                            "
                          >
                            <p>Drag photos here</p>
                            <p>Drop here to upload</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-10 uploaded-list">
                  <lightgallery [settings]="settings" class="d-flex">
                    <ng-container *ngFor="let item of imageInfos">
                      <a [data-src]="item.url" class="">
                        <div class="uploaded-item">
                          <img [alt]="item.name" [src]="item.url" />
                          <button
                            class="btn btn-remove"
                            (click)="removeFile(item)"
                          >
                            <i class="bi bi-trash-fill"></i>
                          </button>
                          <button
                            class="btn btn-star"
                            (click)="addThumbnailFile(item)"
                          >
                            <i
                              class="bi"
                              [ngClass]="
                                item.thumbnail ? 'bi-star-fill' : 'bi-star'
                              "
                            ></i>
                          </button>
                        </div>
                      </a>
                    </ng-container>
                  </lightgallery>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="Name*"
                      formControlName="name"
                      type="text"
                    />
                    <mat-error
                      *ngIf="createProductForm.get('name').hasError('required')"
                      >required</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field class="full-width has-icon">
                    <input
                      matInput
                      placeholder="Price"
                      formControlName="price"
                      type="text"
                    />
                    <mat-icon class="mat-icon">₫</mat-icon>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="Quantity"
                      formControlName="quantity"
                      type="text"
                    />
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      placeholder="Discount"
                      formControlName="discount"
                      type="text"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Brand</mat-label>
                    <mat-select formControlName="brand" class="text-capitalize">
                      <mat-option
                        class="text-capitalize"
                        *ngFor="let sort of brandList"
                        [value]="sort.id"
                      >
                        {{ sort.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="createProductForm.get('name').hasError('required')"
                      >required</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>Category</mat-label>
                    <mat-select
                      formControlName="category"
                      class="text-capitalize"
                    >
                      <mat-option
                        class="text-capitalize"
                        *ngFor="let sort of categoryList"
                        [value]="sort.id"
                      >
                        {{ sort.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="createProductForm.get('name').hasError('required')"
                      >required</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>Type</mat-label>
                    <mat-select
                      formControlName="type"
                      class="text-capitalize"
                      multiple
                      [disabled]="!typeList"
                    >
                      <mat-option
                        class="text-capitalize"
                        *ngFor="let sort of typeList"
                        [value]="sort.id"
                      >
                        {{ sort.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>Feature</mat-label>
                    <mat-select
                      formControlName="feature"
                      class="text-capitalize"
                      multiple
                      [disabled]="!featureList"
                    >
                      <mat-option
                        class="text-capitalize"
                        *ngFor="let sort of featureList"
                        [value]="sort.id"
                      >
                        {{ sort.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-tab-group
                  mat-align-tabs="start"
                  mat-stretch-tabs="false"
                  animationDuration="0ms"
                  #tabGroup
                >
                  <mat-tab label="SPECIFICATION">
                    <div class="my-4">
                      <ckeditor
                        id="ckeditor"
                        formControlName="specification"
                        [editor]="Editor"
                        (ready)="onReady($event)"
                        debounce="5000"
                      ></ckeditor>
                    </div>
                  </mat-tab>
                  <mat-tab label="DESCRIPTION">
                    <div class="my-4">
                      <ckeditor
                        id="ckeditor"
                        formControlName="description"
                        [editor]="Editor"
                        (ready)="onReady($event)"
                        debounce="5000"
                      ></ckeditor>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
                (click)="createProduct()"
              >
                Save
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
