<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex">
        <button
          class="btn btn-success btn-add"
          (click)="routeTo(RouteConfig.ADMIN_CREATE_PRODUCT)"
        >
          <i class="bi bi-plus"></i>
        </button>
        <div class="search-box">
          <button class="btn-search"><i class="bi bi-search"></i></button>
          <input
            type="search"
            class="input-search"
            placeholder="Type to Search..."
            [formControl]="searchControl"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0">Table on Plain Background</h4>
            <p class="card-category">Here is a subtitle for this table</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover" style="table-layout: fixed">
                <thead
                  class=""
                  matSort
                  (matSortChange)="handleSortItem($event)"
                  matSortActive="{{ sort.active }}"
                  matSortDirection="{{ sort.direction }}"
                  matSortDisableClear
                >
                  <tr>
                    <th class="col-1">ID</th>
                    <th class="col-1">Image</th>
                    <th class="col" mat-sort-header="name">Name</th>
                    <th class="col-2" mat-sort-header="price">Price</th>
                    <th class="col-2" mat-sort-header="category_name">
                      Category
                    </th>
                    <th class="col-2"></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of productList">
                    <tr>
                      <td>{{ item.id }}</td>
                      <td>
                        <img
                          [src]="item.image"
                          [alt]="item.name"
                          class="product-image"
                        />
                      </td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.price | currencyFormat }}</td>
                      <td>{{ item.category_name }}</td>
                      <td>
                        <button class="btn" (click)="deleteProduct(item.id)">
                          <i class="bi bi-trash-fill"></i>
                        </button>
                        <button
                          class="btn"
                          (click)="
                            routeTo(RouteConfig.ADMIN_CREATE_PRODUCT, {
                              isEdit: true,
                              product_id: item.id
                            })
                          "
                        >
                          <i class="bi bi-pencil-square"></i>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
          <mat-paginator
            class="paginator"
            [length]="paginator.length"
            [pageSize]="paginator.limit"
            [pageIndex]="paginator.page"
            [pageSizeOptions]="[10, 20, 50, 100]"
            (page)="changePage($event)"
            [showFirstLastButtons]="true"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
