.no-order-img {
  width: 400px !important;
}

.header-text {
  font-size: 18px;
  font-weight: 600;
}

.cart-item-img {
  width: 80px !important;
  height: 80px !important;
}

.btn-decline {
  border: 1px solid black !important;
}
