.no-order-img {
  width: 400px !important;
}

.header-text {
  font-size: 18px;
  font-weight: 600;
}

.header-text-discount {
  font-size: 16px;
  font-weight: 600;
}

.cart-item-img {
  width: 80px !important;
  height: 80px !important;
}

.btn-decline {
  border: 1px solid black !important;
}

.btn-invoice {
  color: white;
  border: 1px solid black !important;
}

.note {
  margin: 16px 0;
  font-size: 16px;
}

.status {
  border-radius: 25px;
  width: 90px;
  padding: 4px 8px;
  font-size: 14px;
  color: white;
  &.pending {
    background-color: #b4afaf;
  }
  &.onway {
    background: #f07600;
  }
  &.confirm {
    background: #28a745;
  }
  &.decline {
    background: #dc3545;
  }
}

.cart-item-old-price {
  text-decoration: line-through;
  font-size: 13px;
}
