<div class="wrapper">
  <button class="btn close-btn" (click)="btnClose()">
    <i class="bi bi-x-lg"></i>
  </button>
  <div class="title">
    Change Password
  </div>
  <form class="mt-4" [formGroup]="changePasswordForm" #changePasswordNgForm="ngForm">
    <!-- new password -->
    <mat-form-field class="w-full mb-4" subscriptSizing="dynamic">
      <mat-label>New Password</mat-label>
      <input id="newPassword" matInput type="password" [formControlName]="'newPassword'" #newPassword />
      <button mat-icon-button type="button" (click)="
            newPassword.type === 'password'
              ? (newPassword.type = 'text')
              : (newPassword.type = 'password')
          " matSuffix>
        <i class="bi bi-eye" *ngIf="newPassword.type === 'password'"></i>
        <i class="bi bi-eye-slash" *ngIf="newPassword.type === 'text'"></i>
      </button>
      <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">
        This field is required
      </mat-error>
      <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('pattern')">
        Password has at least 6 letters
      </mat-error>
    </mat-form-field>
    <div class="button-section d-flex mt-5 justify-content-end">
      <button [disabled]="!changePasswordForm.valid" class="btn btn-primary px-4 py-1" (click)="btnChange()">
        {{ 'Save' }}
      </button>
      <button class="btn btn-secondary px-4 py-1" (click)="btnClose()">
        {{ 'Cancel' }}
      </button>
    </div>
  </form>
</div>
