.wrapper {
  padding: 24px;
  .close-btn {
    position: absolute;
    right: 28px;
    top: 16px;
  }
  .input-section {
    mat-form-field {
      width: 100%;
    }
  }

  .title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #1e293b;
    font-weight: bold;
  }

  .button-section {
    column-gap: 8px;

    .btn {
      color: white;
    }
  }
}

.w-full {
  width: 100%;
}
