<div class="container my-5">
  <div class="row">
    <div class="col-8">
      <div class="detail-header">
        <img [src]="newDatil.img" [alt]="newDatil.name" />
        <h1 class="detail-header-name mt-4 pb-3">{{ newDatil.name }}</h1>
        <div class="detail-header-text pb-3">
          <span class="detail-header-author"
            >{{ newDatil.author }}<span class="mx-1">-</span></span
          >

          {{ newDatil.createDate | countDateToNow }}
          <span class="ms-1">- {{ newDatil.view }} lượt xem</span>
        </div>
      </div>
      <div
        class="detail-content"
        [innerHTML]="getSafeHTML(newDatil.description)"
      ></div>
    </div>
    <div class="col-4">
      <side-bar-new
        [newList]="newList"
        [categories]="categories"
      ></side-bar-new>
    </div>
  </div>
</div>
